/* body text */
body { 
    background: #f1af00;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: rgb(255, 255, 255);
    height: 100%;
    text-align: center;
    font-size: 18px;
}
/* <element class="wrappper"> */
.wrappper {
    width: 75%;
    margin: 0 auto;
}
/* 'after' inserts after content of selected element 'wrapper' */
.wrappper:after {
    content: "";
    display: table;
    clear: both;
}
 
h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    margin: 5px 0;
}
 
h1 {
    font-size: 2.6em; /* 'em' is a relative measurement depending on its parent */
}
 
h2 {
    font-size: 1.6em;
}
 
p {
    font-size: 1.5em;
}
 
#alphabet {
    margin: 15px auto;
    padding: 0;
    max-width: 900px;
}
 
#alphabet:after {
    content: "";
    display: table;
    clear: both;
}
 
#alphabet li {
    float: left;
    margin: 0 10px 10px 0;
    list-style: none;
    width: 35px;
    height: 30px;
    padding-top: 10px;
    background: #fff;
    color: #0052a7;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -khtml-border-radius: 5px;
    border: solid 1px #fff;
}
 
#alphabet li:hover {
    background: #0052a7;
    border: solid 1px #fff;
    color: #fff;
}
 
#my-word {
    margin: 0;
    display: block;
    padding: 0;
    display: block;
}
 
#my-word li {
    position: relative;
    list-style: none;
    margin: 0;
    display: inline-block;
    padding: 0 10px;
    font-size: 1.6em;
}
 
.active {
    opacity: 0.4;
    filter: alpha(opacity=40);
    transition: all 1s ease-in; /* 'ease-in' specifies a transition effect with a slow start */
    transition: all 0.3s ease-in-out; /* 'ease-in-out' specifies a transition effect with a slow start and end */
    transition: all 0.3s ease-in-out;
    cursor: default;
}
 
.active:hover {
    transition: all 1s ease-in;
    transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 0.4;
    filter: alpha(opacity=40);
    transition: all 1s ease-in;
    transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
 
#myattempts {
    font-size: 1.6em;
    text-align: center;
    display: block;
}
/* Hint and Play Again buttons */
button {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -khtml-border-radius: 5px;
    background: #e9cc4b;
    color: #fff;
    border: solid 1px #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 18px 10px;
    width: 180px;
    margin: 10px;
    outline: none;
}
 
button:hover {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #fff;
    border: solid 1px #fff;
    color: #0052a7;
}
