/* body text */
body { 
    background: #005e76;
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
    height: 100%;
    text-align: center;
    font-size: 18px;
}

.wrappper {
    width: 100%;
    margin: 0 auto;
}
/* 'after' inserts after content of selected element 'wrapper' */
.wrappper:after {
    content: "";
    display: table;
    clear: both;
}
 
h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    margin: 5px 0;
}
 
h1 {
    font-size: 2.5em; /* 'em' is a relative measurement depending on its parent */
}
 
h2 {
    font-size: 1.75em;
}
 
p {
    font-size: 1.5em;
}
 
.keyboard {
    margin: auto; /* centers letter bank */
    max-width: 650px; /* width of letter bank */
}
 
.keyboard:after {
    content: ""; 
    display: table;
    clear: both;
}
 
.keyboard button { /*letter buttons*/
    float: center;
    margin: 0 10px 10px 0;
    list-style: none;
    width: 35px;
    height: 35px;
    padding: 0px;
    background: #fff;
    color: #005e76; 
    cursor: pointer;
    border-radius: 15px;
    border: solid 1px #fff;
    font-size: 15px;
}
 
.keyboard button:hover {
    background: #005e76;
    border: solid 1px #fff;
    color: #fff;
}
 
#my-word {
    margin: 0;
    display: block;
    padding: 0;
    display: block;
}
 
#my-word li {
    position: relative;
    list-style: none;
    margin: 0;
    display: inline-block;
    padding: 0 10px;
    font-size: 1.6em;
}
 
.active {
    opacity: 0.4;
    filter: alpha(opacity=40);
    transition: all 1s ease-in; /* 'ease-in' specifies a transition effect with a slow start */
    transition: all 0.5s ease-in-out; /* 'ease-in-out' specifies a transition effect with a slow start and end */
    transition: all 0.5s ease-in-out;
    cursor: default;
}
 
.active:hover {
    transition: all 1s ease-in;
    transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    opacity: 0.4;
    filter: alpha(opacity=40);
    transition: all 1s ease-in;
    transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
 
#myattempts {
    font-size: 1.75em;
    text-align: center;
    display: block;
}
/* Hint and Play Again buttons */
#hint {
    border-radius: 50px;
    background: #005e76;
    color: #fff;
    border: solid 1px #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 18px 10px;
    width: 180px;
    margin: 10px;
    outline: none;
}
 
#hint:hover {
    transition: all 0.5s ease-in-out;
    background: #fff;
    border: solid 1px #fff;
    color: #003f4e;
}
#reset {
    border-radius: 50px;
    background: #005e76;
    color: #fff;
    border: solid 1px #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 18px 10px;
    width: 180px;
    margin: 10px;
    outline: none;
}
 
#reset:hover {
    transition: all 0.5s ease-in-out;
    background: #fff;
    border: solid 1px #fff;
    color: #003f4e;
}