/* body text */
body { 
    background: #000000;
    font-family: Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    height: 100%;
    text-align: center;
    font-size: 18px;
}

.wrappper {
    width: 100%;
    margin: 0 auto;
}
/* 'after' inserts after content of selected element 'wrapper' */
.wrappper:after {
    /* content: ""; */
    display: table;
    clear: both;
}
 
h1, h2, h3 {
    font-family: Helvetica;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 5px 0;
}
 
h1 {
    font-size: 3em;
}
h1:hover {
    transition: 250ms;
    text-shadow: 0.04em 0.04em #fc0049, 0.08em 0.08em #fe8f01,
    0.12em 0.12em #fdf21f, 0.16em 0.16em #3fdf4b, 0.2em 0.2em #3462fe;
}
 
h2 {
    font-size: 1.75em;
}
h2:hover {
    transition: 500ms;
    text-shadow: 0.04em 0.04em #fc0049, 0.08em 0.08em #fe8f01,
    0.12em 0.12em #fdf21f, 0.16em 0.16em #3fdf4b, 0.2em 0.2em #3462fe;
}
 
p {
    font-size: 1.5em;
    letter-spacing: 1px;
}
p:hover {
    transition: 500ms;
    text-shadow: 0.04em 0.04em #fc0049, 0.08em 0.08em #fe8f01,
    0.12em 0.12em #fdf21f, 0.16em 0.16em #3fdf4b, 0.2em 0.2em #3462fe;
}
 
.keyboard {
    margin: auto; /* centers letter bank */
    max-width: 650px; /* width of letter bank */
}
 
.keyboard:after {
    content: ""; 
    display: table;
    clear: both;
}
 
.keyboard button.letter { /*letter buttons*/
    float: center;
    margin: 0 10px 10px 0;
    list-style: none;
    width: 36px;
    height: 40px;
    padding: 0px;
    background: #fff;
    color: #000000; 
    cursor: pointer;
    border-radius: 15px;
    border: solid 1px #fff;
    font-size: 1em;
}
 
.keyboard button.letter:hover {
    background: #000000;
    border: solid 1px #fff;
    color: #fff;
    transition: all 250ms ease-in-out;
    transform: translateY(-3px);
}
.keyboard button.letter:disabled {
    opacity: 0.5;
    background: #fff;
    color: #000000; 
    cursor:auto;
    transition: none;
    transform: translateY(0px);
}
 
#my-word {
    margin: 0;
    display: block;
    padding: 0;
    display: block;
}
 
#my-word li {
    position: relative;
    list-style: none;
    margin: 0;
    display: inline-block;
    padding: 0 10px;
    font-size: 1.25em;
}
 
.active {
    opacity: 0.4;
    filter: alpha(opacity=40);
    transition: all 1s ease-in; /* 'ease-in' specifies a transition effect with a slow start */
    transition: all 250ms ease-in-out; /* 'ease-in-out' specifies a transition effect with a slow start and end */
    transition: all 250ms ease-in-out;
    cursor: default;
}
 
.active:hover {
    transition: all 1s ease-in;
    transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    opacity: 0.4;
    filter: alpha(opacity=40);
    transition: all 1s ease-in;
    transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}
 
#myattempts {
    font-size: 1.75em;
    text-align: center;
    display: block;
}
/* Hint and Play Again buttons */
#hint {
    border-radius: 50px;
    background: #000000;
    color: #fff;
    border: solid 1px #fff;
    cursor: pointer;
    font-size: 1.2em;
    padding: 18px 10px;
    width: 180px;
    margin: 10px;
}
 
#hint:hover {
    transition: all 250ms ease-in-out;
    background: #fff;
    border: solid 1px #fff;
    color: #000000;
}
#hint:disabled {
    opacity: 0.5;
    background: #000000;
    color: #fff; 
    cursor:auto;
}
#reset {
    border-radius: 50px;
    background: #000000;
    color: #fff;
    border: solid 1px #fff;
    cursor: pointer;
    font-size: 1.2em;
    padding: 18px 10px;
    width: 180px;
    margin: 10px;
    outline: none;
}
 
#reset:hover {
    transition: all 250ms ease-in-out;
    background: #fff;
    border: solid 1px #fff;
    color: #000000;
}

/* Topic display rainbow shadow */
#wordTopic {
    /* font-family: Helvetica;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 5px 0; */
    text-transform: uppercase;
    letter-spacing: 1px;
}
#wordTopic:hover{
    transition: 500ms;
    text-shadow: 0.04em 0.04em #fc0049, 0.08em 0.08em #fe8f01,
    0.12em 0.12em #fdf21f, 0.16em 0.16em #3fdf4b, 0.2em 0.2em #3462fe;
}
/* Life counter rainbow shadow */
#myLives:hover {
        transition: 500ms;
        text-shadow: 0.04em 0.04em #fc0049, 0.08em 0.08em #fe8f01,
        0.12em 0.12em #fdf21f, 0.16em 0.16em #3fdf4b, 0.2em 0.2em #3462fe;
}